mixin page(props)
    .page&attributes(attributes)
        .page__block
            .page__block-el
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p Aperiam assumenda eos, eum fugit harum officiis quibusdam.
                p Accusantium commodi cumque debitis excepturi, illo mollitia nisi, odio sint sit sunt ullam veritatis.
            .page__block-el
                ol
                    li one
                    li two
                    li three

                ul
                    li ivanov
                    li petrov
                    li kuzmin

                a(href="https://onlydigital.ru/") Only

        .page__footer
            button.page__footer-buttin click me